* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body > header {
  padding: 24px;
  box-sizing: border-box;
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;

  p {
    font-size: 18px;
  }
}

.btn {
  padding: 4px 8px;
  background: #d40005;
  appearance: none;
  display: block;
  width: max-content;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

article {
  width: 100%;
  margin: 0 auto;
  max-width: 640px;
  box-sizing: border-box;
  padding: 24px 24px 48px;
  line-height: 1.5;

  header {
    margin-bottom: 24px;
  }

  h2 {
    margin: 56px 0 12px;
    font-size: 22px;
  }

  p {
    font-size: 20px;
  }

  h1 {
    font-size: 36px;
  }

  .lesson {
    font-weight: 700;
    color: #d40005;
  }

  a {
    color: #d40005;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }
}

.cross {
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  margin: 48px auto 12px;

  &::before, &::after {
    background: #d40005;
    width: 100%;
    height: 2px;
    display: block;
    content: "";
    top: 5px;
    position: absolute;
  }

  &::after {
    transform: rotate(90deg);
  }
}

footer {
  text-align: center;
  padding-bottom: 24px;
  box-sizing: border-box;
  font-size: 12px;

  a {
    color: #d40005;
    font-weight: bold;
    text-decoration: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 24px 48px;
  margin: 0 auto;

  a {
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.item {
  width: 100%;
  text-align: center;

  h2 {
    font-size: 18px;
    color: #d40005;
  }
}

.item__icon {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #d40005;
  margin: 0 auto 12px;

  @media screen and (max-width: 576px) {
    width: 80px;
    height: 80px;
  }

  img {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    transition: opacity 0.7s ease-in;
  }

  img:not([src]) {
    opacity: 0;
  }

  .cross {
    position: absolute;
    margin: 0;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    opacity: 1;
    transition: opacity 0.5s ease-out;
    animation-name: cross-spin;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
  }

  img[src] {
    opacity: 1;
  }

  img[src] ~ .cross {
    opacity: 0;
  }
}

@keyframes cross-spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

article section.resources {
  border-top: 1px solid #ccc;
  margin-top: 68px;

  h2 {
    font-size: 28px;
    margin-top: 24px;
  }

  a {
    font-size: 20px;
  }

  ul {
    list-style: none;
    box-sizing: border-box;
    padding-left: 8px;
  }

  li {
    display: grid;
    grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
    grid-gap: 8px;
    align-items: center;
    margin-bottom: 12px;

    i {
      font-size: 20px;
    }

    span {
      font-size: 18px;
    }
  }
}

.program-resources {
  width: 100%;
  margin: 0 auto;
  max-width: 640px;
  box-sizing: border-box;
  padding: 24px 24px 48px;

  a {
    font-size: 20px;
    color: #d40005;
    font-weight: 600;
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin-top: 24px;
  }

  li {
    margin-bottom: 12px;
  }
}

.prayer span {
  display: block;
  margin-left: 24px;
  text-indent: -24px;
}

.prayer.paragraph span {
  margin-bottom: 24px;
}

.prayer span.indent {
  margin-left: 24px;
  text-indent: 0;
}
