{{ define "title" }}
Flatland Mentorship Program
{{ end }}

{{ define "main" }}
    {{ $lessons := where .Site.RegularPages "Section" "lessons" }}
    <div class="grid">
    {{ range sort $lessons "Params.order" "asc" }}
        <a href="{{ .Permalink }}" aria-label="{{ .Title }}">
            <div class="item">
                <div class="item__icon">
                    <img data-src="{{ .Params.Image }}" alt="{{ .Title }}" />
                    <div class="cross"></div>
                </div>
                <h2>{{ add .Params.Order 1 }}. {{ .Title }}</h2>
            </div>
        </a>
    {{ end }}
    </div>
    <section class="program-resources">
        <h2 id="resources">Resources</h2>
        <ul>
            <li><a href="/apostles-creed">Apostles Creed</a></li>
            <li><a href="/lords-prayer">The Lord's Prayer</a></li>
            <li><a href="/ten-commandments">Ten Commandments</a></li>
        </ul>
    </section>
<script>
    !function() {
      document.querySelectorAll('img[data-src]').forEach((el) => {
        const imgSrc = el.dataset.src;
        if (imgSrc) {
          const img = new Image();
          img.addEventListener('load', () => {
            el.src = img.src;
          });
          img.src = imgSrc;
        }
      });
    }()
</script>
{{ end }}
